/* Reset command*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

/*Main container8*/ 
.container {
    margin: 0 auto; 
    
}
/* Header */  
header {
     padding-top: 0px;
     top: 0;
     position: sticky; 
     background-color:lightcoral;

}
#logo{
    float: left;
    padding-left: 20px;
}
.logoimg{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
/* Menu */
#menu{
    padding-top: 20px;
    
}
ul#menu {
    list-style: none; 
    padding-top: 20px;
}

ul#menu li a {
    font-size: 20px;
    color: black;
    text-decoration: none;

}
ul#menu li a:hover{
    background: lightgoldenrodyellow;
}
ul#menu li {
    float: left;
    padding-left: 200px;
    padding-right: 25px; 
}
#menu{
    background: whitesmoke;
    height: 40px;
}
#tagline {
    float: left;
    padding-top: 30px;
    padding-left: 500px; 
    
}
    
#tagline h2 {
    font-size: 40px; color:white;
}

#header ul{
    text-align: center;
}

.bus{
    padding-left: 300px; 
    width: 600px;
    padding-top: 50px;
}   
#hero{
    padding-left: 400px;
    padding-top: 10px;
}
#hero h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

#places h2{
    padding-left: 500px;
    padding-top: 10px;
}

/* Footer*/
footer .container{
    background: rgb(86, 211, 233);
    border: 1px solid rgb(86, 211, 233);
    padding: 100px;
    padding-top: 0;
}
footer .copyright{
    float: right;

}
footer .about{
    padding-right: 0;

}

footer ul li a:hover{
    text-decoration: underline;
}
footer a:hover{
    text-decoration: underline;
}

.follow{
    float: left;
    padding-left: 40px;
    padding-top: 10px;
    
}
.follow ul{
    padding-top: 10px;

}
.about{
    padding-top: 10px;
}
.follow ul li {
    text-decoration: none;
    display: inline;
    padding-left: 10px;
}
.about {
        float: left;
        padding-left: 40px;    
}
.about ul li a{
    text-decoration: none;
}
.copyright{
    float: right;
    padding-top: 30px;
}
/************/
#places .grid_4{
    width: 300px;
}
#places h2{
    padding-top: 50px;
}
#places h3{
    padding-left: 100px;
}
.famous{
    padding-top: 40px;
    padding-left: 150px;
}
/* facilities*/
.facilities{
    padding: 100px;
    padding-left: 200px;
}
.booking h3{
    padding-bottom: 10px;
}
.booking{
    background:lightcyan;
    border: 1px solid #BEBDBD;
    padding: 15px;
}
.promises{
    padding-left: 300px;   
}
/* Form*/
form li{
    list-style: none;
    margin-bottom: 20px;
}
label{
    display: block;
    cursor: pointer;
}
form ul{
    padding-left: 0;
}
/*table */
#table .max{
    padding-top: 10px;
}
#table .low{
    padding-top: 10px;
}
#table .full{
    padding-top: 10px;
}
#places p{
    padding-top: 10px;
}
.famous .img {
    width: 200px;
    height: 100px;
    padding-bottom: 100px;
}
/* Next page*/

#nextpage{
    padding-top: 20px;
    text-align: center;
}
/* Offers*/
#offers{
    padding-left: 200px;
    padding-top: 20px;

}

#offers h2{
    padding-bottom: 20px;
    padding-left: 350px;
}
#offers h3{
    padding-left: 100px;
}
#offers .img{
    padding-top: 20px;

}
#offers a:hover{
    
    background: yellow;
}

/* Destinations */
#destinations {
    padding-left: 200px;
    padding-top: 20px;
}
#destinations .dest2{
    padding-left: 150px;
    padding-top: 20px;
}
#destinations h3{
    padding-left: 100px;
}
#destinations h2{
    padding-bottom: 20px;
    padding-left: 300px;
}


