body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body {
    


}   
.container {
    margin: 0 auto; 
    
}  

#logo {
    background: url(../img/logo.png) no-repeat;
    height: 150px;
    width: 200px;
    border-radius: 50px;
    float: left;
}
#logo h1 {
    text-indent: -9999px;
}
header {
     padding-top: 0px;
     top: 0;
     position: sticky; 
     background-color:lightcoral;

}
#menu{
    padding-top: 20px;
    
}
#tagline {
    float: left;
    padding-top: 30px;
    padding-left: 420px; 
    

}
    
#tagline h2 {
    font-size: 40px; color:white;
}
ul#menu {
    list-style: none; 
    padding-top: 20px;
}

ul#menu li a {
    font-size: 20px;
    color: black;
    text-decoration: none;

}
ul#menu li a:hover{
    background: lightgoldenrodyellow;
}
#header ul{
    text-align: center;
}
ul#menu li {
    float: left;
    padding-left: 200px;
    padding-right: 25px; 
}
#menu{
    background: whitesmoke;
    height: 40px;
}
.follow{
    float: left;
    padding-left: 40px;
    padding-top: 10px;
    
}
.about{
    padding-top: 10px;
}
.follow ul li a{
    text-decoration: none;
}
.about {
        float: left;
        padding-left: 40px;
        
}
.about ul li a{
    text-decoration: none;
}
.copyright{
    float: right;
    padding-top: 30px;
}
footer .container{
    background: rgb(86, 211, 233);
    border: 1px solid rgb(86, 211, 233);
    padding: 100px;
    padding-top: 0;
}
footer .copyright{
    float: right;

}
footer .about{
    padding-right: 0;

}
footer a:hover{
    text-decoration: underline;
}
#offers{
    padding-left: 200px;
    padding-top: 20px;

}

#offers h2{
    padding-bottom: 20px;
    padding-left: 350px;
}
#offers h3{
    padding-left: 100px;
}
#offers .img{
    padding-top: 20px;

}
#offers a:hover{
    
    background: yellow;
}
#destinations {
    padding-left: 200px;
    padding-top: 20px;
}
#destinations .dest2{
    padding-left: 150px;
    padding-top: 20px;
}
#destinations h3{
    padding-left: 100px;
}
#destinations h2{
    padding-bottom: 20px;
    padding-left: 300px;
}
footer ul li a:hover{
    text-decoration: underline;
}

