body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body {
    font-family: Arial, Helvetica, sans-serif;


}   
.container {
    margin: 0 auto; 
    
}  

#logo {
    background: url(../img/logo.png) no-repeat;
    height: 150px;
    width: 200px;
    border-radius: 50px;
    float: left;
}
#logo h1 {
    text-indent: -9999px;
}
header {
     padding-top: 0px;
     top: 0;
     position: sticky; 
     background-color:lightcoral;

}
#menu{
    padding-top: 20px;
    font-family: 'Dosis', sans-serif;
}
#tagline {
    float: left;
    padding-top: 30px;
    padding-left: 420px; 
    font-family: 'Spirax', cursive;
}
    
#tagline h2 {
    font-size: 40px; color:white;
}
ul#menu {
    list-style: none; 
    padding-top: 20px;
}

ul#menu li a {
    font-size: 20px;
    color: black;
    text-decoration: none;

}
ul#menu li a:hover{
    background: lightgoldenrodyellow;
}
#header ul{
    text-align: center;
}
ul#menu li {
    float: left;
    padding-left: 200px;
    padding-right: 25px; 
}
#menu{
    background: whitesmoke;
    height: 40px;
}
.bus{
    padding-left: 300px; 
    width: 600px;
    padding-top: 50px;
}   
#hero{
    padding-left: 400px;
    padding-top: 10px;
}
#hero h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

#places h2{
    padding-left: 500px;
    padding-top: 10px;
}

.follow{
    float: left;
    padding-left: 40px;
    padding-top: 10px;
    
}
.about{
    padding-top: 10px;
}
.follow ul li a{
    text-decoration: none;
}
.about {
        float: left;
        padding-left: 40px;
        
}
.about ul li a{
    text-decoration: none;
}
.copyright{
    float: right;
    padding-top: 30px;
}
footer .container{
    background: rgb(86, 211, 233);
    border: 1px solid rgb(86, 211, 233);
    padding: 100px;
    padding-top: 0;
}
footer .copyright{
    float: right;

}
footer .about{
    padding-right: 0;

}
footer ul li a:hover{
    text-decoration: underline;
}
.promises{
    padding-left: 300px;   
}
.facilities{
    padding: 100px;
    padding-left: 200px;


}
.booking{
    background:lightcyan;
    border: 1px solid #BEBDBD;
    padding: 15px;
}
#places .grid_4{
    width: 300px;
}
.famous{
    padding-top: 40px;
    padding-left: 150px;

}
form li{
    list-style: none;
    margin-bottom: 20px;
}
label{
    display: block;
    cursor: pointer;
}
form ul{
    padding-left: 0;
}
#table .max{
    padding-top: 10px;
}
#table .low{
    padding-top: 10px;
}
#table .full{
    padding-top: 10px;
}
#places p{
    padding-top: 10px;
}
footer a:hover{
    text-decoration: underline;
}
.famous .img{
    width: 100px;
    height: 100px;
    resize: both;
    padding-bottom: 100px;
}
.booking h3{
    padding-bottom: 10px;
}
#places h2{
    padding-top: 50px;
}
#places h3{
    padding-left: 100px;
}
#nextpage{
    padding-top: 20px;
    text-align: center;
}


