.wrap{
    min-width: 600px;
    width: 80%;
    margin: auto;
    background-color: chartreuse;
}
.content{
    float: left;
    width: 70%;
    background: aqua;
}
aside{
    background-color: yellow;
    float: left;
    width: 30%;
}
aside, .content{
    height: 600px;
}
aside ul{
    list-style: none;
    padding-left: 0px;
}