nav {
    display: inline;
    
    
}
nav li{
    display: inline;
    overflow: hidden;
  
}
nav li:hover{
    background: yellow;
}

 .grid_4{
    
    margin-left: 10px;
    margin-right: 300px;    
}
.grid_12{
   
}
.navigation{
    
    padding: 20px;   
}