.container_12{
    background: red;
}
.grid_8{
    background:white;
    margin-bottom: 10px;
}
nav li{
    display: inline;
    background: blueviolet;
    margin-left: 0;
    margin-right: 30px;
}
.primary{
    background: yellow;
    margin-top: 30px;
    
}
aside{
    background: green;
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
}
header{
    background: grey;
}
.grid_2{
    margin-bottom: 10px;
}
header{
    font-size: 30px;
}